*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  outline: none;
}

a{
  text-decoration: none;
  color: black;
}

body{
  display: flex;
}

::-webkit-scrollbar{
  background: transparent;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background: #536DFE;
  border-radius: 3px;
}

.shown {
  display: block !important;
}